<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/allTickets.css}" rel="stylesheet" type="text/css" />
	<title>All Tickets</title>
</head>

<body>
	<div class="wrapper">
		<div class="gradient">
			<div class='container'>
				<div class="title">All Tickets</div>
				<div class="block"> 
					<div id="block__title-row" class="block__row">
						<div class="block__col index-col">
							<div class="block__title">In</div>
						</div>
						<div class="block__col id">
							<div class="block__title">ID</div>
						</div>
						<div class="block__col">
							<div class="block__title">Summary</div>
						</div>
						<div class="block__col">
							<div class="block__title">Project</div>
						</div>
						<div class="block__col">
							<div class="block__title">Assignee</div>
						</div>
						<div class="block__col">
							<div class="block__title">Reporter</div>
						</div>
					</div>
					<div class="block__row" th:each="ticket : ${tickets}">
						<div class="block__col index-col"></div>
						<div class="block__col id"       th:text="${ticket.id}"></div>
						<div class="block__col summary"  th:text="${#strings.capitalize(ticket.summary)}"></div>
						<div class="block__col project"  th:text="${#strings.capitalize(ticket.projectName)}"></div>
						<div class="block__col assignee" th:text="${ticket.assignedToUsername}"></div>
						<div class="block__col reporter" th:text="${ticket.reportedByUsername}"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>

</html>